{% load staticfiles %}
<html>
<head>
    <title>Yayasan SinarPerak</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello!</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/DonasiStyle.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/ListDonatur.css' %}" />
</head>
<body class="list-donatur">
{% include  'navbar.html' %}
<section name="my-list" id="my-list">
    <div class="container">
        <h2 class="list-title"><span style="font-weight:bold">#Terima kasih</span> telah berdonasi bersama kami</h2>
        <br>
        <div class="flex">
            {% if donatur %}
                {% for data in donatur %}
                    <div class="flex-container-item" id="donatur-card">
                        <div class="donatur">
                            <div class="donatur-words"><p>"{{data.dukungan}}"</p>
                            </div>
                            <div class="donatur-name">
                                {{data.nama_lengkap}}
                            </div>
                            <div class="donatur-time">
                                {{data.created_date}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Belum ada donatur.
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% include  'footer.html' %}
</body>
</html>
