{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Form Donasi</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/LPStyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/RegisterStyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/DonasiStyle.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
{% include "navbar.html" %}
<div class="container-fluid h-100 background_register">
    <div class="row h-100 justify-content-center align-items-center">
            <div class="contaier_form" style="padding-bottom: 8%">
                <div class="container_form">
                    <div class="judul_utama">
                        <h3 style="font-family:'Montserrat', sans-serif; font-size: 30px; text-align: center; color:black">Anda akan
                            <span style="font-weight:bold">berdonasi</span></h3>
                        <h3 style="font-family:'Montserrat', sans-serif; font-size: 30px; text-align: center; color:black">untuk
                            membantu <span style="font-weight:bold">mereka</span></h3> <br>
                    </div>

                    <form action={% url 'form_donasi:form_donasi_post' %} method="POST">
                        {% csrf_token %}
                        {{ forms.as_p }}
                    <input type="checkbox" name="cekAnon" value="1">Tampilkan nama donatur<br>
                    <div class='submit_button' >
                        <input type='submit' value='Donasi'>
                    </div>
                    </form>
                </div>
            </div>
    </div>
</div>
{% include "footer.html" %}
</body>
</html>