{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>SinarPerak | Home Page</title>

    <!-- Favicon -->
    <link rel="icon" href="{%static 'img/icon.png'%}">

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/classy-nav.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing_page.css' %}">
    <script src="{% static 'js/navbar.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/GeneralStyle.css' %}">
</head>


<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand active" href="{% url 'landingpage' %}"><img src="{% static 'img/logo.png' %}" style="width:100px;"><span class="sr-only">(current)</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                     <a class="nav-link" href="{% url 'landingpage' %}#landingpage">BERANDA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'form_donasi:index' %}">DONASI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tentangKami' %}">TENTANG KAMI</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}#register">DAFTAR</a>
                </li>
            </ul>
        </div>
    </nav>
</header>


<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area bg-img bg-overlay-2by5" style="background-image: url({%static 'img/homepage.png' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Hero Content -->
                    <div class="hero-content text-center">
                        <h1 style="font-family: Montserrat; color: white;"><strong>Galang Dana</strong> untuk <strong>Mereka</strong>. <br> Aku, Kamu, Kita sama-sama <strong>peduli</strong>.</h1>
                    {% if user.is_authenticated %}
                        <p style="text-align: center; font-family: Montserrat; color: white; font-weight: bolder;"> Hello, {{user.first_name}} {{user.last_name}}</p>
                        <a class="btn clever-btn" href="{% url 'logout' %}">Logout</a>
                        <a class="btn clever-btn" href="{% url 'daftardonasi:list_donasi' %}">Donasi Saya</a>
                    {% else %}
                    <a class="btn clever-btn" href="{% url 'social:begin' 'google-oauth2' %}">LOGIN</a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- Start fact Area -->
            <section class="facts-area section-gap align-items-center" id="facts-area" style="padding-top: 20px; background: linear-gradient(90deg, #FFFFFF -21.05%, #ADE8E2 -21.04%, #73E2CC 4.07%, #00B5D0 66.88%, #00AFD8 104.57%, #00A7E1 121.05%), #3C444C">
                <div class="container h-100">             
                    <div class="row h-100 align-items-center">
                        <div class="col-lg-4 col-md-6 single-fact">
                            <h1 class="counter" style="text-align: center; font-family: Montserrat; color: white; font-weight: bolder;">500</h1>
                            <p style="text-align: center; font-family: Montserrat; color: white">Campaign Terdanai</p>
                        </div>
                        <div class="col-lg-4 col-md-6 single-fact">
                            <h1 class="counter" style="text-align: center; font-family: Montserrat; color: white; font-weight: bolder;">20000000</h1>
                            <p style="text-align: center; font-family: Montserrat; color: white;">Uang Terkumpulkan</p>
                        </div>
                        <div class="col-lg-4 col-md-6 single-fact">
                            <h1 class="counter" style="text-align: center; font-family: Montserrat; color: white; font-weight: bolder;">170000</h1>
                            <p style="text-align: center; font-family: Montserrat; color: white;">Orang yang Peduli</p>
                        </div>                                         
                    </div>
                </div>  
            </section>
    <!-- end fact Area -->  

    <!-- #####  Campaign List Start ##### -->
    <section class="popular-courses-area section-padding-100-0" style="background-color: #FAFAFF">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h1 style="font-family: Montserrat; font-weight: bold;">Siap memberi bantuan?</h1>
                        <h3 style="font-family: Montserrat;">Pilih campaign yang ingin Anda bantu</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Popular Course -->
                 {% for item in donationPrograms %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
                        <img class="img-donasi" src={{item.gambar}} style="width:100%">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4 style="font-family: Montserrat;font-weight: bold;">{{item.judul}}</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="/program/{{item.judul}}" style="font-size: 20px;color: #00C6CF">Bantu Donasi</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ##### Popular Courses End ##### -->


    <!-- ##### News Start ##### -->
    <section class="upcoming-events section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3 style="font-family: Montserrat;font-weight: bold;"> <strong>Berita</strong></h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single News -->
                {% for item in news %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-upcoming-events mb-50 wow fadeInUp" data-wow-delay="250ms">
                        <div class="events-thumb">
                            <img src={{item.gambar}} alt="">
                            <h4 class="event-title">{{item.judul}}</h4>
                        </div>
                        <div class="date-fee d-flex justify-content-between">
                            <div class="date">
                                <p>{{item.penulis}}</p>
                            </div>
                            <div class="events-fee">
                                <a href={{item.readmore}} class="free">Baca</a>
                            </div>
                        </div>
                    </div>
                </div>
                 {% endfor %}

    </section>
    <!-- ##### News End ##### -->

    <!-- ##### Footer Area Start ##### -->

    {%include 'footer.html' %}

    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{%static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{%static 'js/bootstrap/popper.min.js'%}"></script>
    <!-- Bootstrap js -->
    <script src="{%static 'js/bootstrap/bootstrap.min.js'%}"></script>
    <!-- All Plugins js -->
    <script src="{%static 'js/plugins/plugins.js'%}"></script>
    <!-- Active js -->
    <script src="{%static 'js/active.js'%}"></script>


</body>

</html>