.background_list_donasi{
    background: url("../img/background_donasi.png");
    background-size: cover;
    height: 960px;
    padding: 8rem 30% 10% 30%;
}

.container_list{
    align-items: center;
    justify-content: center;
    background-color: #fafaff;
    border-radius: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .16);
    width: 40%;
    flex-direction: column;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.judul{
    padding-top: 30px;
}

.tabel-donasi{
    padding: 20px 0 60px 0;
}

tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}