.background_about {
    background: url("../img/Group.png") no-repeat no-repeat center;
    height: 480px;
}

.judul_about {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 3rem 0 1rem;
}

.about {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: white;
    padding: 2rem 6rem;
    text-align: center;
}

.container_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 8rem;
}

.background_testimoni {
    margin: auto;
    background-color: #fafaff;
}

.judul_testimoni {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 32px;
    color: #313131;
    font-weight: bold;
    padding-bottom: 3rem;
}

.text-area {
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .16);
    padding: 1rem;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
}

.form-group {
    margin: auto 10rem;
}

.submit-btn {
    padding-top: 2rem;
}

.testimonials-form {
    padding: 6rem 0;
}

.btn-primary {
    background-color: #00BCD4;
    color: white;
    font-weight: bold;
    border: 2px solid #0096AA;
    border-radius: 40px;
    width: 200px;
    height: 48px;
    text-align: center;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px;
}

.btn-primary:hover {
    background-color: #0096AA;
    text-decoration: none;
}

.testimony-set  {
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .16);
    width: 18rem;
    height: 12rem;
    margin: 2rem 2rem;
}

@media screen and (max-width: 991px) {
    .container_about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 2rem;
    }

    .about {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        color: white;
        padding: 1rem 1rem;
        text-align: center;
    }

    .judul_testimoni {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 32px;
        color: #313131;
        font-weight: bold;
        padding-bottom: 3rem;
    }

    .text-area {
        border-radius: 12px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, .16);
        padding: 1rem;
        font-family: 'Montserrat', sans-serif !important;
        font-size: 16px;
    }

    .form-group {
        margin: auto 2rem;
    }

    .submit-btn {
        padding-top: 2rem;
    }

    .testimonials-form {
        padding: 3rem 0;
    }

    .submit-btn {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
}