{% load staticfiles %}
<html>

<head>
    <title>Yayasan SinarPerak</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/RegisterStyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/GeneralStyle.css' %}">

</head>

<body>
{% include  'navbar.html' %}

<div class="background_register">
    <div class="container_form">
        <h1 align="center" class="judul_utama">Daftar menjadi <strong>donatur</strong><br>
            dan ikut <strong>mengubah dunia!</strong></h1>
        <div class="form_section">
            <form class="form_input" action="/register/" method="POST">
                {% csrf_token %}
                <div class="form_group">
                    {% for field in form %}
                        <div class="form_data">
                            {{ field }}
                             <p style="color: red;">{{ field.errors.as_text }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="submit_button">
                    <input class="submit" type="submit" value="DAFTAR">
                </div>
            </form>
        </div>
    </div>
</div>

{% include  'footer.html' %}
</body>
</html>