.background_register {
    background: url("../img/background_donasi.9a551b56f9c9.png");
    background-size: cover;
    height: 960px;
    padding: 8rem 30% 0 30%;
}

.container_form {
    width: 100%;
    margin: auto;
    background-color: #fafaff;
    border-radius: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 640px;
    padding-right: 20px;
    padding-left: 20px
}

.judul_utama {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    margin: 1rem auto;
}

.form_data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 36px auto;
}

input[type=text], input[type=email], input[type=number] {
    border: 2px solid #dbdbdb;
    border-radius: 16px;
    width: 400px;
    height: 60px;
    text-align: center;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .16);
}  

.submit_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=submit] {
    background-color: #00BCD4;
    color: white;
    font-weight: bold;
    border: 2px solid #0096AA;
    border-radius: 40px;
    width: 240px;
    height: 52px;
    text-align: center;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: #0096AA;
    text-decoration: none;
}

/* @media screen and (max-width: 991px) {

    .background_register {
        background: url("../img/background_donasi.9a551b56f9c9.png");
        background-size: cover;
        height: 960px;
        padding: 6rem 2rem 0 2rem;
    }

    .container_form {
        background-color: #fafaff;
        border-radius: 16px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, .16);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 100%;
    }

    .judul_utama {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        margin: 1rem auto;
    }

    .form_data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 24px auto;
    } 

    input[type=text], input[type=email], input[type=password] {
        border: 2px solid #dbdbdb;
        border-radius: 16px;
        width: 280px;
        height: 52px;
        text-align: center;
        font-family: 'Montserrat', sans-serif !important;
        font-size: 20px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, .16);
    } 

    .submit_button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input[type=submit] {
        background-color: #00BCD4;
        color: white;
        font-weight: bold;
        border: 2px solid #0096AA;
        border-radius: 40px;
        width: 220px;
        height: 48px;
        text-align: center;
        font-family: 'Montserrat', sans-serif !important;
        font-size: 16px;
    } */
}

