.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 1rem
}
.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #ffffff;
    padding-right: 2rem;
    padding-left: 2rem;
}

.nav-menu a {
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color: #ffff;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
}

.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar {
    background-color: #3C444C;
}

/*footer*/

.footer {
    background: linear-gradient(90deg, #FFFFFF -21.05%, #ADE8E2 -21.04%,
    #73E2CC 4.07%, #00B5D0 66.88%, #00AFD8 104.57%, #00A7E1 121.05%), #3C444C;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.sosial_media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container_sosmed , .icon {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon_sosmed {
    margin: auto 0.5rem;
}


.subjudul {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.logo_footer , .sosial_media {
    margin: auto 6rem;
}

.footer_info {
    background-color: #3C444C;
    padding: 3rem 1rem;
}

.container_info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.info {
    margin: 0 4rem;
}

.judul_info {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bolder;
    color: #CEEAE8;
}

.subjudul_info {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #ffffff;
}

@media screen and (max-width: 991px) {

    .logo_footer {
        margin: auto;
    }

    .sosial_media {
        justify-content: center;
        align-items: center;
    }

    .info {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 1.5rem auto;
    }
}

