.list-donatur{
    font-family: Montserrat;
    background-color: #FAFAFA;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}
.flex-container-item{
    position: relative;
    margin: 0 3rem 5rem 3rem;
    background-color: #ffffff;
    border-radius: 16px;
    justify-content: center;
    padding-left: 3px;
    padding-top: 5px;
    padding-right: 3px;
    padding-bottom: 5px;
    box-shadow : 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}
.list-title{
    text-align: center;
}
.donatur{
    width: 268px;
    height: 312;
    text-align: center;
    font-size: 24px;
}
.donatur-words{
	position: relative;
    width: 268px;
    height: 242px;
    font-style: italic;
    font-weight: normal;
	word-break: break-all;
	text-align: center;
	padding-left: 3px;
    padding-right: 3px;
}
.donatur-words p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.donatur-name{
    font-weight: bold;
	word-break: break-all;
}
.donatur-time{
    font-size: 15px;
    font-style: normal;
    color: #9C9C9C;
}