@import url('https://fonts.googleapis.com/css?family=Montserrat');
body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(90deg, #FFFFFF -21.05%, #ADE8E2 -21.04%, #73E2CC 4.07%, #00B5D0 66.88%, #00AFD8 104.57%, #00A7E1 121.05%), #3C444C;

}

h1{
    font-family: "Montserrat";
    font-weight: bold;
}


.roundedrec {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
    margin-top:17px;
    margin-bottom:17px;
    width: 345px;
    height: 440px;
    border-radius: 16px;
}

.rec-white{
    width: 1300px;
    height: 1372px;
    left: -1px;
    top: 727px;
    background: #FAFAFF;
}

.isi {
    color: #FFFFFF;
    font-size: 16px;
}

.insiderec {
    padding: 30px;
    overflow-wrap: break-word;
}

.judul {
    color: #999999;
    text-align: left;
    padding-bottom: 5px;
}

.img-donasi {
    border-radius: 10px 10px 0px 0px;
    width: 69px;
    height: 230px;
}

.nominal{
    font-family: "Montserrat";
}



.nav-menu a {
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
}

.nav-menu, .nav-menu *     margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Montserrat";
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* This is to ake sure that padding and width stays in place */
    margin-top: 6px; /* Top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=date], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: white;
    color: #666666;
    margin-top: 13px; 
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

input[type=submit]:hover {
    border: 0.5rem;
    border-color: white;
    background-color: #591753;
    color: white;
}


.navbar {
    flex: 0 0 auto;
    background-color: #3C444C !important;
}

.navbar .navbar-nav li a {
    color: #ffffff !important;
}

.navbar .navbar-nav li a:hover {
    color: #00B5D0 !important;
}

.navbar-toggler {
    background-color: #ffffff !important;
}


#myFooter {
    background-color: #3C444C;
    color: white;
    padding-top: 40px;
}

#myFooter .row {
    margin-bottom: 0px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

/* #myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
} */

#myFooter ul {
    font-family: "Montserrat";
    list-style-type: none;
    padding-left: 0;
    line-height: 2.2;
}

#myFooter h5 {
    font-family: "Montserrat";
    font-size: 24px;
    color: #CEEAE8;
    margin-top: 30px;
    font-weight: bold;
}

#myFooter h2 a{
    font-family: "Montserrat";
    font-size: 16px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    font-family: "Montserrat";
    color: white;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: #F56462;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}

.pencetus-program{
    margin-right: 20px;
    font-family: "Montserrat";
}








/**
 * Slider
 */
.carousel-inner .item {
  max-height: 300px;
}
.carousel-inner .item:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.carousel-control {
  width: 10%;
}

.carousel-control .fa {
  position: absolute;
  top: 20%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .fa.fa-chevron-right {
  right: 50%;
  margin-right: -10px;
}

@media screen and (min-width: 768px) {
  .carousel-control .fa {
    width: 30px;
    height: 30px;
    margin-top: 0px;
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  .carousel-control .fa-chevron-left {
    margin-left: -15px;
  }
}

/**
 * Slider caption
 */
.carousel-caption h2 {
  color: #fff;
  font-size: 70px;
  margin-bottom: 20px;
}
.carousel-caption p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .carousel-caption {
    right: 20%;
    left: 20%;
    bottom: 20%;
  }
}

/**
 * Button
 */
.btn-transparent {
  background: transparent;
  color: #fff;
  border: 4px solid #fff;
}
.btn-transparent:hover {
  background-color: #fff;
}

.btn-rounded {
  border-radius: 70px;
}

.btn-large {
  padding: 11px 45px;
  font-size: 18px;
}

/**
 * Change animation duration
 */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

