{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/GeneralStyle.css' %}">
<div class="footer">
    <div class="container_sosmed">
        <div class="logo_footer"><img src="{% static 'img/LOGOO2.png' %}"></div>
        <div class="sosial_media">
            <p class="subjudul">Temukan kami di:</p>
            <div class="icon">
                <div class="icon_sosmed"><img src="{% static 'img/round_btn_facebook.png' %}"></div>
                <div class="icon_sosmed"><img src="{% static 'img/round_btn_instagram.png' %}"></div>
                <div class="icon_sosmed"><img src="{% static 'img/round_btn_google.png' %}"></div>
            </div>
        </div>
    </div>
</div>

<div class="footer_info">
    <div class="container_info">
        <div class="info">
            <h1 class="judul_info">Yayasan SinarPerak</h1>
            <p class="subjudul_info">Jl. Margonda Raya , Pondok Cina, <br> Depok, Jawa Barat <br>
                +6281 - 234 - 5678 <br>
                +6287 - 709 - 8976 <br>
                tebarkankebaikan@sinarperak.org</p>
        </div>

        <div class="info">
            <h1 class="judul_info">Tentang Kami</h1>
            <p class="subjudul_info">Sinar-perak.com adalah website untuk <br> berdonasi secara online dan transparan. <br>
                Bersama Sinar Perak, sinari senyuman <br> orang - orang yang membutuhkan. <br> Aku, Kamu, Kita sama - sama
                peduli. </p>
        </div>

        <div class="info">
            <h1 class="judul_info">Program Kami</h1>
            <p class="subjudul_info">Galang dana <br> Donasi </p>
        </div>
    </div>
</div>