{% load staticfiles %}
<script src="{%static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{%static 'js/bootstrap/popper.min.js'%}"></script>
    <!-- Bootstrap js -->
    <script src="{%static 'js/bootstrap/bootstrap.min.js'%}"></script>
    <!-- All Plugins js -->
    <script src="{%static 'js/plugins/plugins.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/GeneralStyle.css' %}">
<script src="{% static 'js/navbar.js' %}"></script>

<!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand active" href="{% url 'landingpage' %}"><img src="{% static 'img/logo.png' %}" style="width:100px;"><span class="sr-only">(current)</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                     <a class="nav-link" href="{% url 'landingpage' %}#landingpage">BERANDA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'form_donasi:index' %}">DONASI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tentangKami' %}">TENTANG KAMI</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}#register">DAFTAR</a>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <a class="nav-link dropbtn" href="#" onclick="dropFunction()">{{user.first_name}} {{user.last_name}}</a>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="{% url 'logout' %}">Logout</a>
                            <a href="{% url 'daftardonasi:list_donasi' %}">Donasi Saya</a>
                        </div>
                    {% else %}
                    <a class="nav-link" href="{% url 'social:begin' 'google-oauth2' %}">LOGIN</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>