{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Form Donasi</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/LPStyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/RegisterStyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/listDonasiStyle.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/listDonasiJs.js' %}"></script>
</head>

<body>
{% include "navbar.html" %}
<div class="container-fluid h-100 background_list_donasi">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="container_list">
            <div class="judul">
                <h1 style="font-family:'Montserrat', sans-serif; font-size: 40px; text-align: center; color:black; font-weight:bold" >Kontribusi Anda</h1> <br>
            </div>

            <div class="total-donasi" align="center">
                <h5>Total Donasi : {{ total_donasi }}</h5>
            </div>

            <div class="tabel-donasi" align="center">
                <table>
                <tr>
                    <th>NAMA PROGRAM</th>
                    <th>JUMLAH DONASI</th>
                </tr>

                {% for i in objek %}
                    <tr>
                    <td> {{i.nama_program}} </td>
                    <td> {{i.jumlah_uang}} </td>
                    </tr>
                {% endfor %}
                </table>
            </div>

        </div>
    </div>
</div>
{% include "footer.html" %}
</body>
</html>