{% load staticfiles %}
<html>
<head>
    <title>Yayasan SinarPerak</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/testimoni.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tentangKamiStyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/GeneralStyle.css' %}">
</head>

<body>
{% include  'navbar.html' %}
<div class="background_about">
    <div class="container_about">
        <h1 class="judul_about"> Tentang Kami </h1>
        <div class="about"> Sinar Perak adalah website untuk berdonasi secara online dan transparan. Bersama Sinar
            Perak, sinari senyuman orang - orang yang membutuhkan. Aku, Kamu, Kita sama - sama peduli.
        </div>
    </div>
</div>

<div class="background_testimoni">
    {% if user.is_authenticated %}
        <section class="testimonials-form">
            <div class="title-with-line d-flex justify-content-center align-items-center flex-column">
                <h1 align="center" class="judul_testimoni"> Testimoni Kamu ?</h1>
            </div>
            {% csrf_token %}
            <div class="form-group">
        <textarea class="form-control text-area" placeholder="Enter your testimony here.." rows=5
                  id="text_testimoni"></textarea>
                <div class="submit-btn d-flex justify-content-end align-items-center">
                    <input type="button"  onclick="testimoni()" class="btn-primary btn" value="SUBMIT">
                </div>
            </div>

        </section>
    {% endif %}

    <section class="testimonials-list">
        <div class="title-with-line d-flex justify-content-center align-items-center flex-column">
            <h1 align="center" style="color: #313131" class="judul_about">Testimoni Sahabat Kita</h1>
            <div class="line"></div>
        </div>
        <div id="testimony" class="testimony d-flex flex-wrap justify-content-center align-items-center">
            {% for testimony in data %}
                <div class="testimony-set d-flex justify-content-center align-items-center flex-column">
                    <p class="testimony-txt">“{{ testimony.text }}” </p>
                    <p class="testimoners"><strong>{{ testimony.name }}</strong></p>
                </div>
            {% endfor %}
            <div class="blank-space"></div>
            <div class="blank-space"></div>
        </div>
    </section>


</div>
{% include  'footer.html' %}
</body>
</html>