{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *Must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>SinarPerak | Program</title>

    <!-- Favicon -->
    <link rel="icon" href="{%static 'img/icon.png'%}">

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing_page.css' %}">

</head>
<header>
    {%include 'navbar.html' %}
</header>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Page Content -->
    <div class="regular-page-area section-padding-50" style="background-color: #FAFAFF;">
        <div class="container">
        <!-- Program Item Heading -->
        <h1 class="my-4" style="margin-bottom: 0.5rem!important; font-size: 36px; font-weight: bold;">
            <strong>{{ judul }}</strong>
        </h1>

    <!-- Program Item Row -->
    <div class="row">
        <div class="col-md-8">
            <img class="img-donasi2" src="{{ foto }}" alt="" width="600" style="height: 400px">
            <h3 style="font-size: 20px; padding-top: 20px;">{{ isi }}</h3>
        </div>

        <div class="col-md-4">
            <h4 class="my-4" id="kanan">Dana yang dibutuhkan</h4>
            <h1 class="my-4" id="kanan2"> <strong> Rp{{ target }} </strong></h1>
            <h4 class="my-4"><span id="kanan">Terkumpul</span><span> Rp{{ sekarang }}</span></h4>
            <div class="progress" style="height:20px;  border-radius: 16px">
                <div class="progress-bar" role="progressbar" id="front" aria-valuenow="{{ sekarang }}"
                     aria-valuemin="0" aria-valuemax="{{ target }}" style="width:{{ percent }}%; background-color: #00B5D0;">
                </div>
            </div>
            {% if user.is_authenticated %}
            <div style="padding-top: 20px; padding-bottom: 40px;">
                <a href="{% url 'form_donasi:index' %}"><button type="button" class="clever-btn2">Donasi</button></a>
                 <button type="button" class="clever-btn2" data-toggle="modal" data-target="#myModal">
                    DONATUR
                </button>
            </div>
            {% else %}
            <div style="padding-top: 20px; padding-bottom: 40px;">
                <a  href="{% url 'social:begin' 'google-oauth2' %}"><button type="button" class="clever-btn2">Log In First</button></a>

            </div>
            {% endif %}
            </div>
        </div>
    </div>
                
    </div>


<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Donatur: {{ donatur }} orang</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
      <div class="d-flex flex-wrap align-content-start">

        {% if donatur %}
            {% for data in listDonatur %}
                <div class="p-2">{{ data.nama_lengkap }}</div>
            {% endfor %}
        {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Belum ada donatur.
            </div>
        {% endif %}
      </div>


      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{%static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{%static 'js/bootstrap/popper.min.js'%}"></script>
    <!-- Bootstrap js -->
    <script src="{%static 'js/bootstrap/bootstrap.min.js'%}"></script>
    <!-- All Plugins js -->
    <script src="{%static 'js/plugins/plugins.js'%}"></script>
    <!-- Active js -->
    <script src="{%static 'js/active.js'%}"></script>

</body>

<footer>
    {%include 'footer.html' %}
</footer>

</html>